//
// components.scss
//

//component-wrapper
.component-wrapper {
    position: sticky;
    top: 80px;
    .title {
        font-size: 24px;
    }
}

//Buttons
@each $name,
$value in $colors {
    .btn-#{$name} {
        background-color: #{$value} !important;
        border: 1px solid #{$value} !important;
        color: $white !important;
        box-shadow: 0 3px 7px rgba($value, 0.5);
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: darken($value, 10%) !important;
            border-color: darken($value, 10%) !important;
            color: $white !important;
            transform: translateY(-2px);
        }
    }

    .btn-soft-#{$name} {
        background-color: rgba($value, 0.15) !important;
        border: 1px solid rgba($value, 0.1) !important;
        color: #{$value} !important;
        box-shadow: 0 3px 7px rgba($value, 0.20);
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: #{$value} !important;
            border-color: #{$value} !important;
            color: $white !important;
            box-shadow: 0 3px 7px rgba($value, 0.5);
            transform: translateY(-2px);
        }
    }

    .btn-outline-#{$name} {
        border: 1px solid #{$value};
        color: #{$value};
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus, &:not(:disabled):not(.disabled):active{
            background-color: #{$value};
            border-color: #{$value};
            color: $white;
            box-shadow: 0 3px 7px rgba($value, 0.5);
            transform: translateY(-2px);
        }
    }
}
.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
    &:focus{
        box-shadow: none !important;
    }
    &.btn-sm{
        padding: 7px 16px;
        font-size: 10px;
    }
    &.btn-lg{
        padding: 14px 30px;
        font-size: 20px;
    } 
    &.searchbtn {
        padding: 6px 20px;
    }

    &.btn-light {
        color: $dark !important;
        background: $light;
        border: 1px solid $gray-300;
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: darken($light, 10%) !important;
            color: $dark; 
        }
    }    
    &.btn-outline-light {
        border: 1px solid $gray-300;
        color: $dark !important;
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: $light;
        }
    }
    &.btn-icon {
        height: 36px;
        width: 36px;
        line-height: 34px;
        padding: 0;
        .icons {
            height: 16px;
            width: 16px;
            font-size: 16px;
        }
        &.btn-lg {
            height: 48px;
            width: 48px;
            line-height: 46px;
            .icons {
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
        }
        &.btn-sm {
            height: 30px;
            width: 30px;
            line-height: 28px;
        }
    }
}

button:not(:disabled) {
    outline: none;
}

//Alert
@each $name,
$value in $colors {
    .alert-#{$name} {
        background-color: rgba($value, 0.9);
        color: $white;
        border-color: $value;
        .alert-link {
            color: darken($value, 30%);
        }
    }
    .alert-outline-#{$name} {
        background-color: $white;
        color: $value;
        border-color: $value;
    }
}
.alert {
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 14px;
    &.alert-light {
        background-color: $light;
        color: $dark;
        border-color: $gray-300;
    }
    &.alert-dismissible {
        padding-right: 30px;
        .close {
            top: -2px;
            right: -10px;
            font-size: 16px !important;
        }
    }
    &.alert-pills {
        border-radius: 30px;
        display: inline-block;
        .content {
            font-weight: 600;
        }
    }
}

//Shadow 
.shadow {
    box-shadow: $shadow !important;
}

//Border
.border {
    border: 1px solid $gray-200 !important;
}
.border-top {
    border-top: 1px solid $gray-200 !important;    
}
.border-bottom {
    border-bottom: 1px solid $gray-200 !important;    
}
.border-left {
    border-left: 1px solid $gray-200 !important;    
}
.border-right {
    border-right: 1px solid $gray-200 !important;    
}

//Badges
@each $name,
$value in $colors {
    .badge-#{$name} {
        background-color: #{$value} !important;
        color: $white !important;
    }

    .badge-outline-#{$name} {
        background-color: transparent !important;
        color: #{$value} !important;
        border: 1px solid #{$value} !important;
    }
}
.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
    &.badge-light {
        color: $dark !important;
        background-color: $light !important;
    }
    &.badge-outline-light {
        color: $dark !important;
        border: 1px solid darken($light, 20%) !important;
        background-color: transparent !important;
    }
    &:focus, &.focus {
        box-shadow: none !important;
    }
    &.badge-pill {
        border-radius: 10px;
    }
}

//Nav
.nav-pills {
    margin-bottom: 15px;
    background: darken($light, 1%);
    .nav-link {
        color: $gray-700 !important;
        padding: 5px;
        transition: all 0.5s ease;
        &.active {
            background: $primary;
            color: $white !important;
            .tab-para {
                color: $light !important;
            }
        }
    }
    a {
        .title {
            font-size: 17px;
            font-weight: 700;
        }
    }
}

//Breadcrumbs
.breadcrumb {
    letter-spacing: 0.5px;
    padding: 0;
    display: block;
    background: transparent;
    .breadcrumb-item {
        font-size: 16px;
        font-weight: 600;
        padding-left: 0;
        display: inline-block;
        a {
            color: $dark;
            &:hover {
                color: $primary;
            }
        }
        &.active {
            color: $primary;
        }
        &:before {
            content: "";
        }
        &:after {
            content: "\f142" !important;
            font-size: 14px;
            color: $dark; 
            font-family: 'Material Design Icons';
            padding-left: 5px;
        }     
        &:last-child {
            &:after {
                display: none;
            }
        } 
    }
}

//Avatar
.avatar {
    &.avatar-ex-sm {
        height: 30px;
        width: 30px;
    }
    &.avatar-md-sm {
        height: 45px;
        width: 45px;
    }
    &.avatar-small {
        height: 65px;
        width: 65px;
    }
    &.avatar-md-md {
        height: 90px;
        width: 90px;
    }
    &.avatar-medium {
        height: 110px;
        width: 110px;
    }
    &.avatar-large {
        height: 140px;
        width: 140px;
    }
    &.avatar-ex-large {
        height: 180px;
        width: 180px;
    }
}

//Feather Icon
.fea {
    stroke-width: 1.8;
    &.icon-sm {
        height: 16px;
        width: 16px;
    }
    &.icon-ex-md {
        height: 20px;
        width: 20px;
    }
    &.icon-m-md {
        height: 28px;
        width: 28px;
    }
    &.icon-md {
        height: 35px;
        width: 35px;
    }
    &.icon-lg {
        height: 42px;
        width: 42px;
    }
    &.icon-ex-lg {
        height: 52px;
        width: 52px;
    }
}

//FAQ / ACCORDIONS
.faq-container {
    .question {
        font-size: 20px;
    }
}

.faq-content {
    .card {
        border-radius: 10px !important;
        .faq {           
            .card-header {
                padding-right: 40px !important;
                &.card-header-2 {
                    border-bottom: 0;
                }
            }
        }  
        a.faq[data-toggle=collapse]{
            background-color: $white;
            color: $primary;
            transition: all 0.5s;
            &:before {
                content: '\F415';
                position: absolute;
                right: 20px;
                top: 27% !important;
                font-family: 'Material Design Icons';
                font-size: 18px;
                transform: translateY(-50%);
                transition: all 0.3s ease;
                transform: rotate(45deg);
                color: $primary;
            }
            &.collapsed {
                background-color: $white;
                color: $dark !important;
                transition: all 0.5s;
                &:before {
                    top: 15px;
                    transform: rotate(90deg);
                    color: $dark !important;
                }
            }
        }
        .faq-question {
            font-size: 16px;
        }
    }
}

///Pagination
.pagination {
    .page-item {
        .page-link {
            color: $dark;
            border: 1px solid $gray-300;
            padding: 12px 18px;
            font-size: 14px;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                color: $white;
                background: rgba($primary, 0.9);
                border-color: rgba($primary, 0.9);
            }
        }
        
        &:first-child {
            .page-link {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        &:last-child {
            .page-link {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        &.active {
            .page-link {
                color: $white;
                background: $primary !important;
                border-color: $primary;
                cursor: not-allowed;
            }
        }
    }
}

//Form
.form-group {
    margin-bottom: 20px;
    label {
        font-size: 14px;
        font-weight: 700;
    }
    .form-control {
        box-shadow: none;
        background-color: $white;
        border: 1px solid $gray-300;
        color: $dark;
        height: 42px; 
        font-size: 13px;
        border-radius: 6px;
        transition: all 0.5s ease;
        &:focus, &.active {
            border-color: $primary;
        }
    } 
    textarea {
        height: 120px !important;
        &.form-control {
            line-height: 25px;
        }
    }
}
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
//Checkbox / Radio button
.custom-control-input:checked~.custom-control-label {
    &:before {
        color: $white;
        border-color: $primary;
        background-color: $primary;
    }
}
.custom-control-input:focus~.custom-control-label::before,
.form-control:focus {
    box-shadow: none;
    border-color: $primary;
}

.custom-control-label {
    cursor: pointer;
    &:before,
    &:after {
        top: 2px;
    }
}
.custom-switch .custom-control-label {
    &:after {
        top: 4px;
    }
}

//Map
.map {
    line-height: 0;
    iframe {
        width: 100%;
        height: 400px;
    }
}

//Subscribe form
.subscribe-form {
    input {
        padding: 12.5px 20px;
        width: 100%;
        color: $dark !important;
        border: none;
        outline: none !important;
        padding-right: 130px;
        background-color: rgba($white, 0.70);
    }
    .btn {
        padding: 8.5px 20px !important;
    }
    button {
        position: absolute;
        top: 5px;
        right: 5px;
        outline: none !important;
        transform: translateY(-2px);
    }
}

//Social icons
.social-icon {
    li {
        a {
            color: $dark;
            border: 1px solid $dark;
            display: inline-block;
            height: 32px;
            text-align: center;
            font-size: 15px;
            width: 32px;
            line-height: 30px;
            transition: all 0.4s ease;
            overflow: hidden;
            position: relative;
            &:hover {
                background-color: $primary;
                border-color: $primary !important;
                color: $white !important;
            }
        }
    }
    &.social {
        li {
            a {
                color: $gray-500;
                border-color: $gray-500;
            }
        }
    }
}

//back to top
.back-to-top {
    z-index: 99; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

//back-to-home
.back-to-home {
    position: absolute;
    top: 4%;
    right: 2%;
    z-index: 1;
}

// Print Media
@media print {
    #topnav,
    .footer {
        display: none !important;
    }
}

//Iconscout
[class^=uil-], 
[class*=" uil-"] {
    &:before {
        margin: 0;
    }
}

//Table
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;    
    .table {
        td,
        th {
            vertical-align: middle;
            border-color: darken($gray-100, 2%);
        }
    }
    .table-center {
        th {
            vertical-align: middle !important;
            cursor: pointer;
        }
        tbody {
            tr {
                &:hover {
                    color: $dark;
                    background-color: $gray-100;
                }
            }
        }
    }
    .table-padding {
        tr {
            td {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}