//
// footer.scss
//
footer {
    &.footer {
        position: relative;
        padding: 60px 0;
        a {
            transition: all 0.5s ease;
            &:hover {
             color: darken($gray-500, 15%);
            }
        } 
        .footer-bar {
            border-top: 1px solid lighten($gray-700, 5%);
        }
        .foot-subscribe {
            .form-control {
                background-color: lighten($black, 6%);
                border: 1px solid lighten($black, 6%);
                color: $light;
                &:focus {
                    box-shadow: none;
                }
            }
            &.foot-white {
                .form-control {
                    color: $gray-500;
                }
            }
            input{
                &::placeholder{
                    color: $gray-500;
                }
            }
        } 
        .footer-list {
            margin-bottom: 0;
            li {
                margin-bottom: 10px;  
                &:last-child{
                    margin-bottom: 0;
                }         
            }
        }  
        .text-foot {
            color: $gray-500;
        }
        &.footer-line {
            padding: 30px 0;
            border-top: 1px solid lighten($gray-700, 5%);            
        }
    }
}