//
// helper.scss
//

.section {
    padding: 100px 0;
    position: relative;
}
.section-two {
    padding: 60px 0;
    position: relative;
}
.bg-overlay {
    background-color: $overlay;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}
.gradient-overlay {
    background: linear-gradient(to right, lighten($blue, 30%), $primary);
    opacity: 0.3;
}

.bg-overlay-white {
    background: $overlay-white;
}

//Title
.title-heading {
    line-height: 26px;
    .heading {
        font-size: 42px;
        letter-spacing: 1px;
    }
    .para-desc {
        font-size: 18px;
    }
}
.section-title {
    position: relative;
    .title {
        letter-spacing: 0.5px;
        font-size: 30px;
    }
} 
.para-desc {
    max-width: 600px;
}
.mt-100 {
    margin-top: 100px;
}

.mb-60 {
    margin-bottom: 60px;
}

//Shapes
.shape {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: -0.5px;
    left: 0;
    &>svg {
        transform: scale(2);
        width: 100%;
        height: auto;
        transform-origin: top center;
    }
}

.home-shape-arrow {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 25px;
    z-index: 1;
    left: 0;
    i {
        background: $light;
        height: 50px;
        width: 50px;
        margin: 0 auto;
        line-height: 50px;
        text-align: center;
        box-shadow: $shadow;
        border-radius: 30px;
    }
    .arrow-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .margin-top-100 {
        margin-top: 100px;
        .heading {
            font-size: 35px;
        }
    }
}
@media (max-width: 767px) {
    .shape {
        bottom: -4px;
    }
}
@media (max-width: 768px) {
    .section {
        padding: 60px 0;
    }
    .title-heading {
        .heading {
            font-size: 40px !important;
        }
        .para-desc {
            font-size: 18px;
        }
    }
    .section-title {
        .title {
            font-size: 24px;
        }
    }
    .mt-60 {
        margin-top: 60px;
    }
}